/******************************** BASIC *******************/
body, p {
  margin: 0;
}

#site {
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 1.04em;
  background-color: #f6f6f4;

  font-family: 'Work Sans', sans-serif;
  color: #191919;
}

div {
  display: block;
}

.flex {
  width: 100%;
  display: block;
  max-width: 900px;
}
.flexi {
  width: 91%;
  display: block;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  margin: 0;
  font-size: 15px;
  line-height: 1.3em;
  color: #1c1c1c;
}

.mini {
  font-size: .60rem;
}

.small-1 {
  font-size: 1rem;
}

.small-2 {
  font-size: .75rem;
}

.small {
  font-size: 1.3rem;
}

.uppercase {
  text-transform: uppercase;
}





/******************************** SPACING *******************/

.margin0 {
  margin: 0;
}

.pad0 {
  padding: 0;
}

.space-after-1-2 {
  margin-bottom: .65rem;
}

.space-after-small {
  margin-bottom: .14rem;
}

.space-after {
  margin-bottom: 1.3rem;
}

.space-after2x {
  margin-bottom: 2.6rem;
}

.space-after3x {
  margin-bottom: 3.9rem;
}

.space-after6x {
  margin-bottom: 7.8rem;
}

.space-after9x {
  margin-bottom: 11.7rem;
}

.pad-l-1-2 {
  padding-left: 0.65rem;
}

.pad-l {
  padding-left: 1.3rem;
}

.pad-l2x {
  padding-left: 2.6rem;
}

.pad-l3x {
  padding-left: 3.9rem;
}

.pad-r-1-2 {
  padding-right: 0.65rem;
}

.pad-r {
  padding-right: 1.3rem;
}

.pad-r2x {
  padding-right: 2.6rem;
}

.space-top-1-2 {
  margin-top: .65rem;
}

.space-top-small {
  margin-top: .14rem;
}

.space-top {
  margin-top: 1.3rem;
}

.space-top2x {
  margin-top: 2.6rem;
}

.space-top3x {
  margin-top: 3.9rem;
}

.space-top6x {
  margin-top: 7.8rem;
}

.space-top9x {
  margin-top: 11.7rem;
}

.island {
  margin: 1.3rem;
}

.island2x {
  margin: 2.6rem;
}

.island3x {
  margin: 3.9rem;
}

.island6x {
  margin: 7.8rem;
}

.island9x {
  margin: 11.7rem;
}


/******************************** NAVIGATION *******************/
#top-navigation {
  position: fixed;
  top: -60px;
  width: 100vw;
  padding-top: 5rem;
  padding-bottom: 0px;
  background-color: #f6f6f4;
  border-bottom: 1px solid #1c1c1c;
  z-index: 5000;
  vertical-align: baseline;

  font-size: .9rem;
  padding-bottom: 1.3rem;
}
#top-navigation h1 {
  margin: 0;
  float: left;
  padding-left: 3.9rem;
  padding-right: 3.9rem;
}
#top-navigation li {
  display: inline-block;
  margin-right: 3.9rem;
}
#top-navigation ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}
a:hover {
  outline: none;
  color: #3e5944;
  transition: color .5s ease-out;
}
.active-link {
  color: #4a4242;
}
.inactive-link {
  color: #ded0d2;
}

#footer-navigation {
  vertical-align: baseline;
  font-size: .9rem;
  padding-top: 1.3rem;
  padding-bottom: 3.9rem;

  padding-left: 3.9rem;
  padding-right: 3.9rem;
}

#footer-navigation li {
  display: inline-block;
  float: left;
  margin-right: 0.65rem;
}

#footer-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.centre {
  text-align: center;
}

.right {
  text-align: right;
}


/******************************** INDEX PORTFOLIO *******************/
#index-items, #info {
  padding-top: 7.1rem;
}
#index-items {
  margin-left: auto;
  margin-right: auto;
  margin-top: -6vh;

  min-width: 320px;
  letter-spacing: 0.025em;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
  z-index: 10;
}

#info {
  margin-left: auto;
  margin-right: auto;
  max-width: 86vw;
  margin-top: 6vh;
}

.work-rules {
  width: 100vw;
  padding-bottom: 0px;
  border-bottom: 1px solid #1c1c1c;
}


/******************************** PROJECT *******************/
#project {
  margin-left: auto;
  margin-right: auto;
  max-width: 56vw;

  min-width: 320px;
  letter-spacing: 0.025em;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
  z-index: 10;
}

.information {
  text-align: left;
}

.indexh2 {
  margin: 0;
  font-size: .9rem;
  float: left;
  padding-left: 3.9rem;
  padding-right: 3.9rem;
}






/******************************** SLIDESHOW *******************/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(225,255,255,.25);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}






























/******************************** RESPONSIVE *******************/

@media only screen and (min-width: 20em) {


.hover-img {
  display: none;
  float: right;
  width: 46vw;
}

.hover-text:hover ~ .hover-img {
  display: none;
}

#body-blog {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.right {
  float: left;
  padding-right: 3.9rem;
  margin-bottom: 0.65rem;
}

}


@media only screen and (min-width: 50em) {

#work {
    height: 88vh;
    width: 100%;
    max-width: 850vw;
    max-height: 64vw;
    position: relative;
    overflow: hidden;
    float: left;
}

.hover-img {
  display: none;
  float: right;
  width: 46vw;
}

.hover-text:hover ~ .hover-img {
  display: block;
}

#body-blog {
  padding-left: 0;
  padding-right: 0;
}

.right {
  float: right;
  padding-left: 3.9rem;
  padding-right: 3.9rem;
  margin-bottom: 0.65rem;
}

}
